.List{
    width: 50%;
    height: 100%;
    font-family: var(--fam);
    color: var(--col);
    display: flex;
    flex-direction: column;
    align-items: center;
}

form{
    margin: 20px 0px;
}

form label{
    margin-right: 10px;
    font-size: 14px;
}
form select{
    padding: 5px;
    border: 1px solid lightgray;
    border-radius: 5px;
    margin-right: 10px;
    outline: none;
    cursor: pointer;
}
.display{
    width: 370px;
    height: 85%;
    padding: 10px;
    overflow: auto;
}
.display::-webkit-scrollbar{
    display: none;
}

@media (max-width:700px){
    .List{
        width: 100%;
        height: 50%;
    }
}