@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');

:root {
    --fam: 'Rubik', sans-serif;
    --col: #3D4957;
}
.main{
    height: calc(100vh - 67px);
    width: 100vw;
    display: flex;
    padding: 20px;
}